/* Box Model Hack */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overscroll-behavior: none;
}

/* Base Styles */
h1 {
    font-size: 15em;
    color: rgb(10 45 22);
    padding-top: .5em;
    margin-bottom: 0em;
    font-family: 'slackey', cursive;


    /* margin: 0.67em, 0; */
}
#vegan {
    font-size: 20em;
    color: rgb(10 45 22);
    padding-top: 0em;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-family: 'slackey', cursive;
    /* -webkit-text-stroke: 1px #ebffdd; */
	/* text-shadow: -1px 1px 2px #23430C,
				  1px 1px 2px #23430C,
				  1px -1px 0 #23430C,
				  -1px -1px 0 #23430C; */
}
body {
    /* background-image: url('../images/background1.jpeg'); */
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-doodle-background_23-2149977989.jpg?w=1380&t=st=1674291253~exp=1674291853~hmac=44a6892d259a4bbb4b4843ab7acb89d5d5d983eb2b04bdfb4625d53a18b846ca);
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Slackey', cursive;
    font-family: 'Bowlby One SC', monospace;
    font-family: 'Unbounded', monospace;
    
}

/* In order to place the tracking correctly */
canvas.drawing,
canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

/* Container */
.container {
    width: 55%;
    /* height: 760px; */
    margin: 36px auto;
}
  


/* Glass Effect */
.glass {
    
    background: linear-gradient(135deg, rgba rgb(42, 61, 42) rgba(255, 255, 255, 0.9));
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(20deg);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}


/* Additional Lines */
input {
    max-width: 90%;
    font-size: 3rem;
    border-radius: 3rem;
    margin-top: .5rem;
    padding: 1rem;
    text-align: center;
    background-color: rgb(201, 255, 93);

}
/* Removes arrows from other browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Removes arrows on Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    margin: 10%;
    text-align: center;
    margin: 20px auto;
    display: block;
    border-radius: 2rem;
    padding: .5rem;
    align-items: center;
    border: 5px;
    border-color: black;
    font-size: 3.5em;
    font-family: 'slackey', cursive;

    /* color: rgb(7 118 45); */
    /* background: rgba(4, 202, 73, 0.63); */ 
    
}

.btn-hover {
    width: 200px;
    font-size: 23px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    /* margin: 20px; */
    height: 55px;
    text-align:center;
    border: 5px;
    border-color: black;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 5px;
    border-color: black;
}

.btn-hover:focus {
    outline: none;
    border: 5px;
    border-color: black;
}

.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
    border: 5px;
    border-color: black;
    
}

.barcode-prompt{
    padding-top: 0%;
}

label {
    font-size: 2rem;
    color: rgb(10 45 22);
}

img {
    width: 300px;
}

h2 {
    margin-bottom: 0;
}

#ingredient-table {
    background: hsl(136deg 70% 56%)-19%;
}

#product-img {
    border: 7em;
    border-color: rgb(66, 222, 74);
    border-style: inset;
    width: max-content;

}

#product-name {
    font-size: 3em;
    font-variant: all-small-caps;
    padding: 0.75em;
}

table,
th,
td {
    margin: 20px auto;
    margin-top: 0;
    border: 1px solid;
    font-size: 2rem;
    border-radius: 3rem;
    padding: 1rem;
    margin-bottom: 3em;
}

.non-veg-item {
    background-color: red;
}

.idk-maybe-item {
    background-color: yellow;
}