/* Box Model Hack */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overscroll-behavior: none;
}
/* Base Styles */
h1{
    font-size: 5em;
    color: rgb(10 45 22);
    /* margin: 0.67em, 0; */
}
body {
    background-image: url('../images/background1.jpeg');
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Merriweather', serif, sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Container */
.container {
    width: 50%;
    height: 100%;
    margin: 36px auto;
}
/* Glass Effect */
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1, rgba(255, 255, 255, 0)));
    backdrop-filter: invert(20deg);
    -webkit-backdrop-filter: blur(20deg);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Additional Lines */
input {
    width: 200px;
    font-size: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
button {
    margin: 20px auto;
    display: block;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5em;
    /* color: rgb(7 118 45); */
    background: rgba(4, 202, 73, 0.63);
}
label{
    font-size: 2rem;
    color: rgb(10 45 22);
}
img {
    max-height: 300px;
}
h2{ 
    margin-bottom: 0;
}
#ingredient-table{
    background:hsl(136deg 70% 56%)-19%;
}
table, th, td {
    margin: 20px auto;
    border: 1px solid;
    font-size: 2rem;
    border-radius: 4px;
}

.non-veg-item{
    background-color: red;
}
.idk-maybe-item{
    background-color: yellow;
}